<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @payment.token %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @payment.charge_id %>
</p>

<p>
  <strong>Error message:</strong>
  <%= @payment.error_message %>
</p>

<p>
  <strong>Payment gateway:</strong>
  <%= @payment.payment_gateway %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Paypal plan name:</strong>
  <%= @payment.paypal_plan_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
