<div class="form-group">
  <%= form_with(model: mobile_payment, local: true) do |form| %>
    <% if mobile_payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(mobile_payment.errors.count, "error") %> prohibited this mobile_payment from being saved:</h2>

        <ul>
          <% mobile_payment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :amount %>
      <%= form.text_field :amount, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :till_number %>
      <%= form.number_field :till_number, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :reason_for_payment %>
      <%= form.text_area :reason_for_payment, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit 'Make Payent', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
